#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

nav {
    text-align: center;
    font-family: Verdana;
    background-color: rgb(10, 10, 50);
    color: white;
    font-size: 24px;
    padding: 0 16px;
    margin-bottom: 16px;
}

h1 {
    margin: 16px;
    cursor: default;
}

canvas {
    min-height: 464px;
    max-width: 992px;
    margin: 0 auto;
}

.duration {
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 16px;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: rgb(10, 10, 50);
    margin-bottom: 8px;
    padding: 8px;
    min-width: 40px; 
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(40, 40, 80);
}

img {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    object-fit: cover;  
    border: 4px rgba(0,0,0,0) solid;
    cursor: pointer;
}

.candidates {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    max-width: 992px;
    margin: auto auto;
}

.candidate-container {
    margin-bottom: 8px;
    text-align: center;
    font-family: Verdana;
    font-weight: 600;
    cursor: pointer;
    color: rgb(10, 10, 50);
}

.candidate-container:hover img {
    border: 4px rgb(10, 10, 50) solid;
}